.component {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--icon-color);
  transition: all 200ms ease-in-out;
}
.component:hover {
  color: var(--icon-hover-color);
}
