.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
}
.entry {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.875rem;
  width: 100%;
}
.curr {
  background-color: var(--bg-dim-hover-color);
  color: var(--text-hover-color);
}
.entryRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  white-space: nowrap;
  cursor: pointer;
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}
.entryRow:hover {
  background-color: var(--bg-dim-hover-color);
  color: var(--text-hover-color);
}
