.component {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow: hidden;
}
.header {
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}
.blockscan {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--icon-color);
  transition: all 200ms ease-in-out;
}
.blockscan:hover {
  color: var(--icon-hover-color);
}
.main {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.tree {
  min-width: 100px;
  max-width: 200px;
  height: 100%;
  overflow: auto;
}
.code {
  overflow: auto;
  position: relative;
}
.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 200;
}
.codeViewer {
  overflow: auto;
}
.codeViewer > pre {
  margin: 0 !important;
}
.copyBtn,
.fullScreenBtn {
  background: var(--btn-bg-color);
  color: var(--btn-color);
  width: 48px;
}
.copyBtn {
  margin-right: 6px;
}
