.component {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-modal);
  z-index: 200;
}
.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  padding-top: 46px;
}
.tree {
  min-width: 200px;
  max-width: 200px;
  overflow: auto;
}
.code {
  position: relative;
  width: 100%;
  background-color: var(--bg-color);
}
.tools {
  position: absolute;
  z-index: 100;
  top: 14px;
  right: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.codeViewer {
  position: absolute;
  overflow: auto;
  height: 100%;
  width: 100%;
}
.codeViewer > pre {
  margin: 0 !important;
}
.blockscan {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--icon-color);
  transition: all 200ms ease-in-out;
}
.blockscan:hover {
  color: var(--icon-hover-color);
}
.copyBtn,
.fullScreenBtn {
  background: var(--btn-bg-color);
  color: var(--btn-color);
  width: 48px;
}
.copyBtn {
  margin-right: 6px;
}
